<div class="menu">
  <p-button (click)="sidebarVisible = true" class="sidebar-toggle-button">
    <i class="pi pi-bars" style="font-size: 2rem"></i>
  </p-button>
  <p-sidebar [(visible)]="sidebarVisible">
    <ng-template class="head" pTemplate="header">
      <div class="sidenav-header">
        <img id="img-logo" src="../../../assets/img/logo_t.png" alt="Logo">
      </div>
    </ng-template>


    <ng-template pTemplate="content">
      <ul>
        <li  (click)="sidebarVisible = false">
          <a   routerLink="/home">Ventas de Productos</a>

        </li>
        <li  (click)="sidebarVisible = false">
          <a  routerLink="/controlVentas">
            Control de Ventas</a>
        </li>
        <li  (click)="sidebarVisible = false">
          <a routerLink="/controlProductos">Control de Productos</a>
        </li>
      </ul>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="sidenav-footer">
        <a href="#">
          <li>
            <i class="pi pi-bars" ></i>
            Cerrar sesión
          </li>

        </a>

      </div>
    </ng-template>
  </p-sidebar>
</div>
