<div class="menu">
  <p-button (click)="sidebarVisible = true" class="sidebar-toggle-button">
    <i class="pi pi-microsoft" style="font-size: 2rem"></i>
  </p-button>
  <p-sidebar [(visible)]="sidebarVisible">
    <ng-template class="head" pTemplate="header">
      <div class="sidenav-header">
        <img src="../../../assets/img/logo.png" alt="Logo">
      </div>
    </ng-template>


    <ng-template pTemplate="content">
      <ul>
        <li  (click)="sidebarVisible = false">
          <a   routerLink="/home">Ventas de Productos</a>
        </li>
        <li  (click)="sidebarVisible = false">
          <a  routerLink="/controlVentas">Control de Ventas</a>
        </li>
        <li  (click)="sidebarVisible = false">
          <a routerLink="/controlProductos">Control de Productos</a>
        </li>
      </ul>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="sidenav-footer">
        <a href="#">Cerrar sesión</a>
      </div>
    </ng-template>
  </p-sidebar>
</div>
