<html>

  <div class="container">
    <div class="p-card login-container">
      <h2>Inicio de Sesión</h2>
      <form (ngSubmit)="iniciarSesion()" autocomplete="off"> 
        <div class="p-field">
          <span class="p-float-label">
            <input id="correo" type="text" pInputText [(ngModel)]="correo" name="correo" required>
            <label for="correo">Correo Electrónico</label>
          </span>
        </div>
        <div class="p-field">
          <span class="p-float-label">
            <input id="contrasenia" type="password" pInputText [(ngModel)]="contrasenia" name="contrasenia" required>
            <label for="contrasenia">Contraseña</label>
          </span>
        </div>
        <p-toast key="toast"></p-toast> 
        <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button> 
      </form>
    </div>
  </div>

