<body>
<div class="contenedor">
    <h1>{{ title }}</h1>
    <div>
      <div class="form-group">
        <label for="banco">Banco:</label>
        <p-dropdown [options]="bancos" [(ngModel)]="bancoSeleccionado" optionLabel="label" optionValue="value" [style]="{'width':'100%'}"></p-dropdown>


      </div>
      <div class="form-group">
        <label for="noTarjeta">No Tarjeta:</label>
        <input type="text" id="noTarjeta" name="noTarjeta" pInputText  [(ngModel)]="noTarjeta" (keypress)="validarSoloNumeros($event)" required>
      </div>
      <div class="form-group">
        <label for="nip">NIP:</label>
        <input type="password" id="nip" name="nip" pInputText  [(ngModel)]="nip" (keypress)="validarSoloNumeros($event)" required>
      </div>
      <div class="form-group">
        <label for="monto">Monto:</label>
        <input type="number" id="monto" name="monto" pInputText  [(ngModel)]="monto" (keypress)="validarSoloNumeros($event)" required>
      </div>
      <button type="button" pButton (click)="realizarRetiro()" label="Retirar"></button>

      <div class="cuadro-texto">
        <p>{{ mensaje }}</p>
      </div>
    </div>
  </div>
</body>