<p-card class="contenido" header="Modulo de ventas">
    <div class="row contenido">
        <div class="col-md-8">
          <h2>Productos</h2>
            <p-scrollPanel [style]="{ width: '100%', height: '300px' }" styleClass="custombar1">
                <div class="row">
                    <div style="margin-bottom: 1%;" class="col-md-4" *ngFor="let product of arrayProducts" >
                        <p-card [style]="{ width: '100%'}">
                            <ng-template pTemplate="header">
                                <img class="imgProduct" alt="Card" src="{{product.imagen}}" />
                            </ng-template>
                            <div class="productName">
                                <p class="name">
                                    {{product.nombre_producto}}
                                </p>
                            </div>                            
                            <ng-template pTemplate="footer">
                                <!-- <p-button label="Agregar" icon="pi pi-check"></p-button> -->
                                <p-button label="Agregar" [text]="true" severity="success" (click)="showDialog(product)"></p-button>
                            </ng-template>
                        </p-card>
                    </div>
                </div>          
            </p-scrollPanel>    
        </div>
        <div class="col-md-1">
            <p-divider layout="vertical"></p-divider>
        </div>    
        <div class="col-md-3">
          <h2>Detalles de Venta</h2>
          
          
        </div>
      </div>
</p-card>


<p-dialog
header="Agregar unidades"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onDialogHide()"
  >
    <div class="card flex justify-content-center">
        <p-selectButton [options]="unidades" [(ngModel)]="valorUnidad" optionLabel="nombre_unidad" optionValue="precio"></p-selectButton>
        <p>{{valorUnidad}}</p>
    </div>
</p-dialog>