<html>

<div class="container">
  <div class="p-card login-container">
    <h2>Registro</h2>
    <form (ngSubmit)="registrar()" autocomplete="off">
      <div class="p-field">
        <span class="p-float-label">
          <input id="correo" type="text" pInputText [(ngModel)]="correo" name="correo" required>
          <label for="correo">Correo Electrónico</label>
        </span>
      </div>
      <div class="p-field">
        <span class="p-float-label">
          <input id="contrasenia" type="password" pInputText [(ngModel)]="contrasenia" name="contrasenia" required>
          <label for="contrasenia">Contraseña</label>
        </span>
      </div>
      <div class="p-field">
        <span class="p-float-label">
          <input id="confirmarContrasenia" type="password" pInputText [(ngModel)]="contrasenia"
            name="confirmarContrasenia" required>
          <label for="confirmarContrasenia">Confirmar Contraseña</label>
        </span>
      </div>

      <button [disabled]="validarLogin" mat-raised-button color="primary" type="submit">Ingresar</button>

    </form>
  </div>
</div>
