@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~primeicons/primeicons.css';

.menu{
    width: 100%;

    margin: 0%;
    background-color: #814f28;
}
