<div class="card">
  <p-tabView>
    <p-tabPanel header="Ventas">
      <div class="card">
        <div class="buscador">
          <h2 class="tituloTabla">Historial de ventas</h2>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input style="border-radius: 20px;" type="text" placeholder="Buscar" pInputText [(ngModel)]="value" (input)="applyFilter()" />
        </span>
      </div>
        <p-table  [value]="ventas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 20]">

          <ng-template pTemplate="header">

            <tr>
              <th style="width:5%"></th>
              <!-- <th pSortableColumn="id_producto" style="width:20%">ID Producto <p-sortIcon field="id_producto"></p-sortIcon></th> -->
              <th pSortableColumn="nombre" style="width:20%">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
              <th pSortableColumn="cantidad" style="width:20%">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
              <th pSortableColumn="unidad" style="width:20%">Unidad Venta <p-sortIcon field="cantidad"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total <p-sortIcon field="total"></p-sortIcon></th>
              <th pSortableColumn="fecha" style="width:20%">Fecha Venta <p-sortIcon field="cantidad"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-venta>
            <tr>
              <td>
                <p-checkbox name="ventas" [(ngModel)]="selectedVentas" [value]="venta.id_producto"
                  inputId="venta.id_producto"></p-checkbox>
              </td>
              <!-- <td>{{ venta.id_producto }}</td> -->
              <td>{{ venta.nombre_producto }}</td>
              <td>{{ venta.cantidad }}</td>
              <td>{{ venta.nombre_unidad }}</td>
              <td>{{ venta.total }}</td>
              <td>{{ formatearFecha(venta.fecha_venta) }}</td>


              <!-- <td>{{ calculateSubtotal(venta) }}</td>
              <td>{{ calculateTotal(venta) }}</td> -->
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
            <p-speedDial [model]="items" direction="right"></p-speedDial>

          </ng-template>
          <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>

      </div>
    </p-tabPanel>

    <p-tabPanel header="Utilidades">
      <div class="card">
        <div class="buscador">
          <h2 class="tituloTabla">Historial de Utilidades</h2>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input style="border-radius: 20px;" type="text" placeholder="Buscar" pInputText [(ngModel)]="value" (input)="applyFilter()" />
        </span>
      </div>
        <p-table  [value]="ventas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 20]">

          <ng-template pTemplate="header">

            <tr>

              <th pSortableColumn="id_producto" style="width:20%">Monto de venta <p-sortIcon field="id_producto"></p-sortIcon></th>
              <th pSortableColumn="cantidad" style="width:20%">Monto de merma <p-sortIcon field="cantidad"></p-sortIcon></th>
              <th pSortableColumn="nombre" style="width:20%">Monto de materias primas <p-sortIcon field="nombre"></p-sortIcon></th>
              <th pSortableColumn="precio_unitario" style="width:20%">Monto de gastos de servicios <p-sortIcon field="precio_unitario"></p-sortIcon>
              </th>
              <th pSortableColumn="subtotal " style="width:20%">Utilidades minimas para rentabilidad <p-sortIcon field="subtotal"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total diario  <p-sortIcon field="total"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total semanal  <p-sortIcon field="total"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total mensual  <p-sortIcon field="total"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-venta>
            <tr>

              <td>{{ venta.id_producto }}</td>
              <td>{{ venta.cantidad }}</td>
              <td>{{ venta.nombre }}</td>
              <td>{{ venta.precio_unitario }}</td>

              <td>{{ calculateSubtotal(venta) }}</td>
              <td>{{ calculateTotal(venta) }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
            <p-speedDial [model]="items" direction="right"></p-speedDial>

          </ng-template>
          <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>

      </div>
    </p-tabPanel>
    <p-tabPanel header="Proveedores">
      <p-table  [value]="proveedores" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 20]">

          <ng-template pTemplate="header">

            <tr>

              <!-- <th pSortableColumn="id_producto" style="width:20%">Monto de venta <p-sortIcon field="id_producto"></p-sortIcon></th> -->
              <th pSortableColumn="nombre_proveedor" style="width:20%">Nombre<p-sortIcon field="nombre_proveedor"></p-sortIcon></th>
              <th pSortableColumn="direccion" style="width:20%">Dirección<p-sortIcon field="direccion"></p-sortIcon></th>
              <th pSortableColumn="telefono" style="width:20%">Teléfono<p-sortIcon field="telefono"></p-sortIcon></th>
              <th pSortableColumn="email " style="width:20%">Email<p-sortIcon field="email"></p-sortIcon></th>
              <th pSortableColumn="visitas" style="width:20%">Visitas<p-sortIcon field="visitas"></p-sortIcon></th>
              <!-- <th pSortableColumn="total" style="width:20%">Total semanal  <p-sortIcon field="total"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total mensual  <p-sortIcon field="total"></p-sortIcon></th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-proveedor>
            <tr>

              <!-- <td>{{ proveedor.id }}</td> -->
              <td>{{ proveedor.nombre_proveedor }}</td>
              <td>{{ proveedor.direccion }}</td>
              <td>{{ proveedor.telefono }}</td>
              <td>{{ proveedor.correo_electronico }}</td>
              <td>{{ proveedor.dias_visita }}</td>

              <!-- <td>{{ calculateSubtotal(proveedores) }}</td>
              <td>{{ calculateTotal(proveedores) }}</td> -->
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
            <p-speedDial [model]="items" direction="right"></p-speedDial>

          </ng-template>
          <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>
    </p-tabPanel>
  </p-tabView>
</div>

