<div class="card">
  <p-tabView>
    <p-tabPanel header="Ventas">
      <div class="card">
        <div class="buscador">
          <h2 class="tituloTabla">Historial de ventas</h2>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input style="border-radius: 20px;" type="text" placeholder="Buscar" pInputText [(ngModel)]="value"
              (input)="applyFilter()" />
          </span>
        </div>
        <p-table [value]="ventas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 20]">

          <ng-template pTemplate="header">

            <tr>
              <th style="width:5%"></th>
              <th pSortableColumn="id_producto" style="width:20%">ID Producto <p-sortIcon
                  field="id_producto"></p-sortIcon></th>
              <th pSortableColumn="cantidad" style="width:20%">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
              <th pSortableColumn="nombre" style="width:20%">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
              <th pSortableColumn="precio_unitario" style="width:20%">Precio Unitario <p-sortIcon
                  field="precio_unitario"></p-sortIcon>
              </th>
              <th pSortableColumn="subtotal " style="width:20%">Subtotal <p-sortIcon field="subtotal"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total <p-sortIcon field="total"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-venta>
            <tr>
              <td>
                <p-checkbox name="ventas" [(ngModel)]="selectedVentas" [value]="venta.id_producto"
                  inputId="venta.id_producto"></p-checkbox>
              </td>
              <td>{{ venta.id_producto }}</td>
              <td>{{ venta.cantidad }}</td>
              <td>{{ venta.nombre }}</td>
              <td>{{ venta.precio_unitario }}</td>

              <td>{{ calculateSubtotal(venta) }}</td>
              <td>{{ calculateTotal(venta) }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
            <p-speedDial [model]="items" direction="right"></p-speedDial>

          </ng-template>
          <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>

      </div>
    </p-tabPanel>





    <p-tabPanel header="Utilidades">
      <div class="card">
        <div class="buscador">
          <h2 class="tituloTabla">Historial de Utilidades</h2>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input style="border-radius: 20px;" type="text" placeholder="Buscar" pInputText [(ngModel)]="value"
              (input)="applyFilter()" />
          </span>
        </div>
        <p-table [value]="utilidades" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 20]">

          <ng-template pTemplate="header">

            <tr>

              <th pSortableColumn="id_producto" style="width:20%">Monto de venta <p-sortIcon
                  field="id_producto"></p-sortIcon></th>
              <th pSortableColumn="cantidad" style="width:20%">Monto de merma <p-sortIcon field="cantidad"></p-sortIcon>
              </th>
              <th pSortableColumn="nombre" style="width:20%">Monto de materias primas <p-sortIcon
                  field="nombre"></p-sortIcon></th>
              <th pSortableColumn="precio_unitario" style="width:20%">Monto de gastos de servicios <p-sortIcon
                  field="precio_unitario"></p-sortIcon>
              </th>
              <th pSortableColumn="subtotal " style="width:20%">Utilidades minimas para rentabilidad <p-sortIcon
                  field="subtotal"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total diario <p-sortIcon field="total"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total semanal <p-sortIcon field="total"></p-sortIcon></th>
              <th pSortableColumn="total" style="width:20%">Total mensual <p-sortIcon field="total"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-utilidad>
            <tr>

              <td>{{ utilidad.monto_venta }}</td>
              <td>{{ utilidad.monto_merma }}</td>
              <td>{{ utilidad.monto_materias_primas }}</td>
              <td>{{ utilidad.monto_gastos_servicios }}</td>
              <td>{{ utilidad.utilidades_rentabilidad }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft">
            <p-speedDial [model]="items" direction="right"></p-speedDial>

          </ng-template>
          <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>

      </div>



    </p-tabPanel>



    <p-tabPanel header="Proveedores">
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
        culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
        expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>